<table
  [ngClass]="{ 'text-white': darkMode, 'text-muted': !darkMode }"
  class="table"
>
  <thead class="p-5">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount Request</th>
      <th scope="col">Deadlines</th>
      <th scope="col">Reason For Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="row">
          <div class="row d-flex ps-4 align-items-center">
            <div class="col-3">
              <img
                src="https://pbs.twimg.com/profile_images/1280227739312807936/aTmVXPao.jpg"
                alt="kucing"
                width="60px"
                class="shadow bg-body img-fluid img-thumbnail rounded-circle"
              />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col">
                  <p><b>Administrator</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p><b>Mr. Karyawan Baru</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>Rp. 25.000,-</td>
      <td>01/01/1999</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="row d-flex ps-4 align-items-center">
            <div class="col-3">
              <img
                src="https://pbs.twimg.com/profile_images/1280227739312807936/aTmVXPao.jpg"
                alt="kucing"
                width="60px"
                class="shadow bg-body img-fluid img-thumbnail rounded-circle"
              />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col">
                  <p><b>Administrator</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p><b>Mr. Karyawan Baru</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>Rp. 25.000,-</td>
      <td>01/01/1999</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="row d-flex ps-4 align-items-center">
            <div class="col-3">
              <img
                src="https://pbs.twimg.com/profile_images/1280227739312807936/aTmVXPao.jpg"
                alt="kucing"
                width="60px"
                class="shadow bg-body img-fluid img-thumbnail rounded-circle"
              />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col">
                  <p><b>Administrator</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p><b>Mr. Karyawan Baru</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>Rp. 25.000,-</td>
      <td>01/01/1999</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="row d-flex ps-4 align-items-center">
            <div class="col-3">
              <img
                src="https://pbs.twimg.com/profile_images/1280227739312807936/aTmVXPao.jpg"
                alt="kucing"
                width="60px"
                class="shadow bg-body img-fluid img-thumbnail rounded-circle"
              />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col">
                  <p><b>Administrator</b></p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p><b>Mr. Karyawan Baru</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>Rp. 25.000,-</td>
      <td>01/01/1999</td>
      <td>Lorem ipsum dolor sit amet consectetur</td>
    </tr>
  </tbody>
</table>
